@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Bebas+Neue&family=Libre+Franklin:ital,wght@0,600;1,900&family=Playfair+Display:ital,wght@0,900;1,400&family=Poppins:wght@500&family=Roboto&family=The+Nautigal:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*user Login*/

.userIcon{
  color:#FFFFFF;
  font-size: 30px;

}

.loginRegi{
 
 margin-top: 200px;
  padding-top: 30px;
   
}
.userLoginText1{
  text-align: center;
}
.userLoginText{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
/* identical to box height */
color:#FFFFFF;
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

}

.utext{
text-align: center;
color:#FFFFFF;
padding-top: 120px;



font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px; 

}
.otpmsg{text-align: center;
  color:#FFFFFF;
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 22px;
}
.button{
  font-family: 'Poppins';
  width:140px;
  height: 40px;
  
}
.textFStyle{
  width:350px;
  height:40px;
margin-left:auto;
margin-right:auto
}

.activateUser{
  position: absolute;
width: 500px;
height: 680px;
background-color: #12395D;
border-radius:15px;
}
.activateUserfield{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


letter-spacing: 0.11em;
text-transform: uppercase;

color: #FFFFFF;
}
.activateButton{
  font-family: 'Poppins';
  font-weight: 300;
font-size: 15px;
  background-color: #C4C4C4;
  border-radius: 10px;
  width:149px;
  height:50px;
  color: #FFFFFF;
  margin-left: 100px;
  margin-right: 100px;
}
/* media query for userLogin form */
.wrapStyle{
  background-color: #12395D;
  width:450px;
  height:450px;
  border-radius:15px;
  position: absolute;
}
@media (max-width:950px){
  .wrapStyle{
    width:450px;
    height:430px
   
  }
  .activateUser{
   
  width: 450px;
  height: 630px;
 
  }
  .activateUserfield{
   
 
  font-size: 20px;
 
  /* identical to box height */
  

  }
  .utext{
 
    padding-top: 100px;
    

    }
    .textFStyle{
      width:10px;

    }
    .button{
      
      width:120px;
      height: 35px;
      
    }
}
@media (max-width:600px){
  .wrapStyle{
    width:350px;
    height:350px
   
  }
  .activateUser{
   
    width: 400px;
    height: 600px;
   
    }
    .activateUserfield{
   
 
      font-size: 17px;
     
      /* identical to box height */
      
    
      }
  .userLoginText{
    font-size: 20px;
    
  }
  .utext{
 
    padding-top: 50px;
    font-size: 15px;
    

    }

    
    .otpmsg{
      font-size: 12px;
      
      }
      .button{
      
        width:100px;
        height: 30px;
        
      }
}

@media (max-width:400px){
  .wrapStyle{
    width:250px;
    height:250px
   
  }
  .activateUser{
   
    width: 350px;
    height: 550px;
   
    }
    .activateUserfield{
   
 
      font-size: 15px;
     
      /* identical to box height */
      
    
      }
  .userLoginText{
    font-size: 16px;
  }
  .utext{
 
    padding-top: 20px;
    font-size: 12px;
    }

    .otpmsg{
    font-size: 10px;
    
    }
}

